name: "Deploy terraform-lambda"

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      destroy:
        description: "Destroy resources"
        required: false
        default: 'false'

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    uses: ./.github/workflows/terraform.yml
    with:
      environment: dev
      aws-region: "${{ vars.AWS_REGION }}"
      aws-statefile-key: "lambda/terraform.tfstate"
      aws-lock-dynamodb-table: "${{ vars.DYNAMODB_TABLE }}"
      destroy: ${{ github.event.inputs.destroy || 'false' }}
    secrets:
      aws-assume-role-arn: ${{ secrets.AWS_ASSUME_ROLE_ARN_LAMBDA }}
      aws-statefile-s3-bucket: "${{ secrets.AWS_BUCKET_NAME }}"